@media screen and (max-width: 1024px){
	body{
		width: 100%;
	}
	.logo{
		margin-left: 30px;
	}
	.container{
		min-width: 320px;
    	width: 100%;
	}

	.title {
    	margin-top: 40px;
    	display: block;
	}
	.title p{
		margin-top: 15px;
	}

	.services {
    	margin-top: 0px;
    	display: inline-block;
	}
	.services_item:nth-child(2), .services_item:last-child{
		margin-left: 19px;
		float: left;

	}
	.services_item{
    	width: 30%;
    	margin-left: 19px;
	}
	#services{
		padding: 0;
	}
	.works{
		margin-top: 0px;
		text-align: center;
	}
	.works img{
		width: 31%;
		margin: 0 auto;
	}
	#portfolio{
		padding: 0;
	}
	.photo_last, .photo_last:first-child{
		display: flex;
		align-items: center;
		margin: 20px 60px;
    	justify-content: space-around;
	}
	.photo_text_left, .photo_text_right{
		width: 400px;
		text-align: center;
		position: relative;
		left: 0;
	}

	#about_us{
		padding-bottom: 20px;
	}
	#end{
		margin: 0;
	}
	#end h3{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px){
	.services_item, .services_item:nth-child(2), .services_item:last-child{
	    margin: 0 auto;
	    padding: 0;
	    text-align: center;
	    width: 100%;
	}
	header{
		padding-bottom: 20px;
	}

	.logo{
		margin: 0 auto;
	    padding-top: 20px;
	    display: block;
	    float: none;
	    font-size: 2em;
	}
	nav{
		float: none;
		text-align: center;
		margin: 20px auto 0;
	}
	.menu li{
		float: none;
		margin: 0 auto;
		padding-top: 20px;
		font-size: 2em;
		letter-spacing: 0.4em;
	}
	.menu li:first-child{
		margin-top: 0px;
	}
	.titles_first{
		margin-top: 50px;
		font-size: 2.063em;
		padding: 0 5px;
	}

	h1 {
		margin: 50px auto;
		font-size: 5.5em;
	}
	.works img, .works img:nth-child(2), .works img:last-child{
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	.photo_last, .photo_last:first-child{
		display: block;
		margin-top: 20px;
	}
	.photo_text_left, .photo_text_right{
		display: block;
		margin: 0 auto;
		position: relative;
		text-align: center;
		left: 0;
		width: 100%;
		margin-top: 10px;
	}
	#end h3{
		margin: 20px auto;
	}
}